.container {
  background-color: #fff;
}

.filter__title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #210B61;
}

.filter__input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}