.form {
    width: 320px;

}

.form__title {
    color: #210B61;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #210B61;
}

.btn {
    font-weight: 500;
    color: #A9A9F5;
    background-color: #210B61;
    border-radius: 10px;
    font-size: 18px;
}

.btn:hover {
    background-color: #fff;
    color: #210B61;
}