.active {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #A9A9F5;
  text-decoration: underline;
  background-color: #fff;
  font-size: 18px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #A9A9F5;
  background-color: #210B61;
  border-radius: 10px;
  font-size: 18px;
}
